@charset "utf-8";
/*ν—¤λ”*/
header{}
.headerT{
	text-indent:-9999px;
	padding:10px;
	position:relative;
}
header h1{
	width:150px;
	background:url(../images/logo.png) no-repeat center center;
	background-size:contain;
	margin:0px auto;
}
header a{
	display:block;
	height:100%;
}
.headerIcon{
	width:20px;
	height:20px;
	position:absolute;
	background:url(../images/icon_search.png);
	background-size:cover;
	top:50%;
	margin-top:-10px;
}
.menuIcon{
	background:url(../images/icon_menu.png);
	background-size:cover;
	right:10px;
}

.gnb{
	background:#222;
}
.gnb li{
	width:33.33%;
	line-height:45px;
	float:left;
	text-align:center;
	font-size:14px;
	font-weight:500;
}
.gnb li a{
	color:#fff;
}

/*ν‘Έν„°*/
footer{
	background:#222;
	padding:20px;
}
footer p{
	color:#fff;
	font-size:10px;
	font-weight:200;
}